.container-add-recipe-manual {
  padding: 33%;
  padding-top: 0;
  color: black;
}

.container-add-recipe-manual-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container-add-recipe-manual-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-color: rgb(7, 7, 7);
}

.recipe-description {
  height: 300px;
}
