.responsive-image {
  max-width: 100%;
  height: auto;
}

.container-maria {
  /* display: flex;
  padding-left: 33%;
  padding-right: 33%;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  max-width: 600px;
  /* border: 1px solid red; */
}

.container-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid red; */
}
.container-maria-chat {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 2px solid rgb(219, 211, 211);
}

.container-maria-chat__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-chat {
  /* border: 1px solid rgb(23, 21, 21); */
  width: 100%;
  height: 60px;
}

form input {
  /* border: 1px solid rgb(23, 21, 21); */
  width: 90%;
  height: 50px;
  /* border: none; */
  outline: none;
  font-size: 1.2rem;
  padding-left: 1%;
  padding-right: 1%;
}

.boton-send {
  width: 10%;
  height: 50px;
  background-color: rgb(23, 21, 21);
  color: white;
  border: none;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.container-chatless {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-recipe-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 300px;
}
