/* .carousel-container {
  height: 650px;
} */

.fa-angle-down {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: black;
  border-radius: 50%;
  font-size: 40px;
  color: rgb(245, 154, 17);
}

@keyframes floating {
  0% {
    transform: translateX(-50%) translateY(0px);
  }
  50% {
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    transform: translateX(-50%) translateY(0px);
  }
}

.container-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.button-carousel {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  width: 99%;
}

#search {
  position: absolute;
  margin-top: 50px;
  background-color: rgb(245, 154, 17);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.search-img {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  text-decoration: none;
}
.search-img-text {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  text-decoration: none;
}
.container-img {
  width: 100%;
  height: 100%;
}

.search-text {
  width: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.search-text-title {
  font-size: 50px;
  font-weight: 700;
  margin-top: 20px;
}

.search-text-title-mini {
  font-size: 33px;
  font-weight: 700;
  margin-top: 20px;
}
.my-link {
  text-decoration: none;
  color: inherit;
}

.search-text-paragraph {
  font-size: 25px;
  font-weight: 400;
}


.search-text-paragraph-mini {
  font-size: 20px;
  font-weight: 300;
}