.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}
.info {
  margin-bottom: 20px;
}
.profile-pic {
  display: inline-block;
  margin-bottom: 20px;
}
.profile-pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.upload-btn {
  width: 200px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
.upload-btn:hover {
  background-color: #45a049;
}

.landing-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.background-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#edit-btn {
  background-color: #cac3bc;
  width: 50px;
  height: 45px;
  border: none;
  color: #0e0b09;
  text-decoration: none;
  font-size: 13px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s;
}

#edit-btn:hover {
  background-color: #ecec20;
}