.recover-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.recover-password-content {
  background-color: rgba(128, 128, 128, 0.2);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  position: relative;
  top: -50px;
}

.recover-password-title {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.recover-password-form {
  margin-bottom: 20px;
}

.recover-password-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.recover-password-button {
  background-color: #ffa500;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.recover-password-button:hover {
  background-color: #ff8c00;
}

.recover-password-link {
  color: #ffa500;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.recover-password-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border: 1px solid red;
}

.recover-password-container-navbar {
  width: 100%;
  border: 1px solid red;
}
