.carousel {
  height: 300px;
}

.recetas-container {
  margin-bottom: 4%;
}

.divider {
  margin-top: 4%;
  margin-bottom: 4%;
  background: #b1adad;
  height: 1px;
}

.home_button-group {
  display: flex;
  justify-content: space-between;
}

.home_name-and-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2%;
}

.home_name-and-icons_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
