/* .body {
    background-image: url(https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  } */
  


.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('https://static.vecteezy.com/system/resources/previews/007/276/766/original/doodle-fast-food-icons-seamless-pattern-with-food-icons-fast-food-set-icons-fastfood-background-food-icons-on-black-background-hand-drown-pattern-with-fast-food-icons-free-vector.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenido {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  height: 100%;
  text-align: center;
  color: white;
}

.rounded-4 {
  border-radius: 5%;
}



  